@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header div{
    background-color: #047bff;
    padding: 10px;
}

#consulta{
    display: none;
}

#consulta a{
    width: 90px;
    cursor: pointer;
    color: #ffffff73;
    margin: 10px 0px 6px 40px;
    font-size: 20px;
    text-decoration: none;
}

#consulta a:hover{
    color: white;
}

#logo{
    margin-left: 60px;
}

#menu{
    padding: 10px;
    float: right;
    border: 1px solid #ffffff3e;
    position: relative;
    right: 10px;
    cursor:pointer;
}

/* MAIN */

main{
    text-align: center;
    width: 1400px;
    height: 200px;
    margin:20px auto;
}

h1{
    font-size: 4em;
    font-family:'Poppins', sans-serif;;
    color: rgb(35, 35, 35);
}

#inputs{
    margin-top: 40px;
}

select,input{
    font-size: 18px;
    margin-top: 10px;
    padding: 6px;

}

select:focus,input:focus{
    border: 1px solid #047bff;
    box-shadow:  0px 0px 3px 2px #047bff;
}

#btnEnvio{
    width: 30px;
    height: 36px;
    font-size: 20px;
    background-color: #047bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 2px;
}

/* INPUTS */

#ano{
    width: 130px;
}

#tipo{
    width: 400px;
}

#valor{
    margin-left: 6px;
    width: 100px;
}

#descricao{
    width: 600px;
}

#descricao::placeholder,#valor::placeholder,#dia::placeholder{
    color: black;
}



/* CONSULTA */

#infoTabela{
    text-align: center;
    margin: 60px auto;
    padding: 10px;
}

#btnPesquisa{
    background-color: #047bff;
    width: 40px;
    height: 30px;
    margin: 4px auto;
    border-radius: 6px;
}

#btnPesquisa img{
    position: relative;
    left: 10px;
    top: 4px;
}

#btnPesquisa button{
    background-color: #047bff;
    border: none
}

table{  
    font-size: 26px;
    border-collapse: collapse;
    border-top: 1px solid rgb(104, 104, 104); 
}

tbody{
    border-top: 1px solid rgb(104, 104, 104);
}

thead td{
    padding: 14px;
    font-weight: 700;
    
   
}

tbody td{
    padding: 14px;
    border-bottom: 1px solid lightgrey
}


/* MEDIA ------------ */


@media screen and (max-width: 700px){
    *{
        box-sizing: border-box;
    }

    html{
        width: 100vw;
        overflow-x: hidden;
    }

    h1{
        width: 600px;
    }

    #inputs{

        width: 600px;
        height: 300px;
    }

    #ano{
        margin-right: 10px;
        width: 210px;
    }

    #mes{
        width: 170px;
        margin-right: 10px;
    }

    #tipo{
        width: 500px;
    }

    #descricao{
        width: 500px;
    }
    #valor{
        display: block;
        width: 500px;
        margin:10px 0px 0px 50px;
    }

    #btnEnvio{
        margin-top: 10px;
        width: 500px;
    }

    #infoDiv{
        margin-left: 50px;
        background-color: #047bff;
        width: 500px;
    }

    #infoDiv p{
        display: inline;
    }

    #lista_resultado{
        background-color: red;
        width: 500px;
        margin-left: 50px;
        margin-top: 10px;
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
    *{
        box-sizing: border-box;
    }

    html{
        width: 100vw;
        overflow-x: hidden;
    }

    h1{
        width: 700px;
    }

    #inputs{

        width: 700px;
        height: 300px;
    }

    #ano{
        margin-right: 10px;
        width: 210px;
    }

    #mes{
        width: 170px;
        margin-right: 10px;
    }

    #tipo{
        width: 500px;
    }

    #descricao{
        width: 500px;
    }
    #valor{
        display: block;
        width: 500px;
        margin:10px 0px 0px 100px;
    }

    #btnEnvio{
        margin-top: 10px;
        width: 500px;
    }
}
